<!DOCTYPE html>
<html>
  <head>
    <title>Steady Life</title>
    <link rel="stylesheet" type="text/css" href="/public/style/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/createForm.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/Button.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/table.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/calendar.css"
    />
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/theme/datalab.min.css">
  <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.pkgd.min.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        onSelect: function () {
          document.getDate.submit();
        },
      });
    } );
  </script>
  </head>

  <body>

    <header class="main-header">
      <div class="header">
        <div class="start-header"></div>
        <div class="main-text-container">
        <h1 id="main-text">Steady Life </br></h1>
        </div>
        <div class="end-header">
        <a href="/auth/logout">
          <button id="logout-btn" class="standard-btn w-btn w-btn-indigo">Logout</button>
        </a>
        </div>
      </div>
    </header>
    <br>

    <div class="sub-header">
      <div class="header-main-btn">
        <button id="todolist-button" class="sub-header-btn" onclick="location.href='/todo/'">
          Todo
        </button>
        <button id="myPage-button" class="sub-header-btn focus">
          MyPage
        </button>
      </div>
    </div>
  
      
    <% 
    const calculateTime = (time) => {
      return time.split(':').reduce((acc, cur, idx) => {
        if (idx === 0) return acc + Number(cur * 60);
        else return acc + Number(cur);
      }, 0);
      };

    const convertMinutesToHours = (min) => {
      const hour =
        String(Math.floor(min / 60)).length === 1
          ? '0' + String(Math.floor(min / 60))
          : String(Math.floor(min / 60));
      const minutes =
        String(min % 60).length === 1 ? '0' + String(min % 60) : String(min % 60);

      return hour + ':' + minutes;
    };

    let studyTime = 0;
    let restTime = 0;

    todoTasks.forEach(ele => {
      if(ele.category === "공부" || ele.category === "독서"){
        studyTime += calculateTime(ele.remainingTime);
      } else {
        restTime += calculateTime(ele.remainingTime);
      }
    });
    
    let [study, exercise, walk, reading, sleep, love, other] = [0, 0, 0, 0, 0, 0, 0];

    todoTasks.forEach(ele => {
      switch (ele.category) {
        case "공부":
          study += calculateTime(ele.remainingTime);
          break;
        case "독서":
          reading += calculateTime(ele.remainingTime);
          break;
        case "운동":
          exercise += calculateTime(ele.remainingTime);
          break;  
        case "산책":
          walk += calculateTime(ele.remainingTime);
          break;
        case "수면":
          sleep += calculateTime(ele.remainingTime);
          break;
        case "데이트":
          love += calculateTime(ele.remainingTime);
          break;
        default:
          other += calculateTime(ele.remainingTime);
          break;
      }
    }); %>

     
    <span id="study" class="hidden"><%= study %></span>
    <span id="exercise" class="hidden"><%= exercise %></span> 
    <span id="reading" class="hidden"><%= reading %></span>
    <span id="love" class="hidden"><%= love %></span> 
    <span id="sleep" class="hidden"><%= sleep %></span> 
    <span id="walk" class="hidden"><%= walk %></span>
    <span id="other" class="hidden"><%= other %></span> 

    <% let obj = {};

       todoTasks.forEach(v => {
         if(!obj[v.date]) obj[v.date] = [0,0,0,0,0,0,0];
       });

       todoTasks.forEach(ele => {
          switch (ele.category) {
            case "공부":
              obj[ele.date][0] += calculateTime(ele.remainingTime);
              break;
            case "독서":
              obj[ele.date][1] += calculateTime(ele.remainingTime);
              break;
            case "운동":
              obj[ele.date][2] += calculateTime(ele.remainingTime);
              break;  
            case "산책":
              obj[ele.date][3] += calculateTime(ele.remainingTime);
              break;
            case "수면":
              obj[ele.date][4] += calculateTime(ele.remainingTime);
              break;
            case "데이트":
              obj[ele.date][5] += calculateTime(ele.remainingTime);
              break;
            default:
              obj[ele.date][6] += calculateTime(ele.remainingTime);
              break;
          }
        }); %>

    <span id="dateObj" class="hidden"><%= Object.entries(obj) %></span>

    <section class="mypage">
      <div class="mypage-container">
        <div class="calendar">
          <div class="mypage-header">
            <div class="nav">
              <div>
                <button class="nav-btn go-prev">&lt;</button>
              </div>
              <div class="year-month"></div>
              <div>
                <button class="nav-btn go-next">&gt;</button>
              </div>
            </div>
          </div>
          <br>

          <div class="loader"></div>

          <div id="welcome" style="margin-bottom: 30px;">🗓 activity calendar for <%= user.displayName %></div>
          <div class="main">
            <div class="days hidden">
              <div class="day">Sun</div>
              <div class="day">Mon</div>
              <div class="day">Tue</div>
              <div class="day">Wed</div>
              <div class="day">Thu</div>
              <div class="day">Fri</div>
              <div class="day">Sat</div>
            </div>
            <div class="dates"></div>
            <br>
            <div class="color-container">
              <div class="color-palette">
                <div id="study-color">공부</div>
                <div id="reading-color">독서</div>
                <div id="sleep-color">수면</div>
                <div id="exercise-color">운동</div>
                <div id="walk-color">산책</div>
                <div id="date-color">데이트</div>
                <div id="other-color">기타</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% let dateArr = []; %>
    <%= todoTasks.forEach(v => {
      const date = v.date;
      dateArr.push(date);
    }) %>
    <span id="dateInUse" class="hidden"><%= dateArr %></span>
    <br />
    <br />
    <br />
    <br />
    <footer>
      <p>
        <a onclick="Swal.fire('pmhxxhsj@gmail.com')">Email</a> &nbsp;|&nbsp; 
        <a href='https://parkparkpark.tistory.com/' target='_blank'>Blog</a>&nbsp;|&nbsp; 
        <a href='https://github.com/pmhxhsj' target='_blank'>Github</a>
        <br/>
        <span>Copyright 2022. Wony. All Rights Reserved.</span>
      </p>
    </footer>
    <script type="module" src="/public/js/calendar.js"></script>
    <script type="module" src="/public/js/billboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      $(window).load(function(){
        $(".loader").fadeOut();
        document.querySelector('.days').classList.remove('hidden');
      }); 
    </script>
  </body>
</html>