<!DOCTYPE html>
<html>
  <head>
    <title>Steady Life</title>
    <link href="/public/images/steadyLifeIcon.png" rel="shortcut icon" type="image/x-icon">
    <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/createForm.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/Button.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/table.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/style.css"
  />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
  </head>
  <body>

    <div class="edit-container">
  <% 
     todoTasks.forEach(tasks => { 
      let date = (tasks.date).substring(0, 10); 
      if(tasks._id == idTask) { %>
      <div class="edit-form">
        <div class="edit-form-table">
          <form class="edit-form-box" action="/todo/update/<%= tasks._id %>" method="post">
            <table>
              <tr>
                <td colspan="2">
                  <select id="todo-category-input" class="input-category" name="category" autocomplete="off">
                    <% switch (tasks.category) {
                      case "공부": %>
                        <option value="공부" selected>공부</option>
                        <option value="독서">독서</option>
                        <option value="수면">수면</option>
                        <option value="운동">운동</option>
                        <option value="산책">산책</option>
                        <option value="데이트">데이트</option>
                        <option value="기타">기타</option>            
                        <% break;
                      case "운동": %>
                        <option value="공부">공부</option>
                        <option value="독서">독서</option>
                        <option value="수면">수면</option>
                        <option value="운동" selected>운동</option>
                        <option value="산책">산책</option>
                        <option value="데이트">데이트</option>
                        <option value="기타">기타</option>                 
                    <% break;
                      case "산책": %>
                        <option value="공부">공부</option>
                        <option value="독서">독서</option>
                        <option value="수면">수면</option>
                        <option value="운동">운동</option>
                        <option value="산책" selected>산책</option>
                        <option value="데이트">데이트</option>
                        <option value="기타">기타</option>  
                    <% break;
                      case "독서": %>
                        <option value="공부">공부</option>
                        <option value="독서" selected>독서</option>
                        <option value="수면">수면</option>
                        <option value="운동">운동</option>
                        <option value="산책">산책</option>
                        <option value="데이트">데이트</option>
                        <option value="기타">기타</option>            
                    <% break;
                      case "데이트": %>
                        <option value="공부">공부</option>
                        <option value="독서">독서</option>
                        <option value="수면">수면</option>
                        <option value="운동">운동</option>
                        <option value="산책">산책</option>
                        <option value="데이트" selected>데이트</option>
                        <option value="기타">기타</option>         
                    <% break;
                      case "수면": %>
                        <option value="공부">공부</option>
                        <option value="독서">독서</option>
                        <option value="수면" selected>수면</option>
                        <option value="운동">운동</option>
                        <option value="산책">산책</option>
                        <option value="데이트">데이트</option>
                        <option value="기타">기타</option>    
                    <% break;
                      default: 
                        break; } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    type="text"
                    value="<%= tasks.title %>"
                    name="title"
                    id="todo-title-input"
                    class="input-title"
                    autocomplete="off"
                  />
                </td>
              </tr>
              <tr>
                <% if(date==today){%>  
                <td>
                  <input
                    id="todo-start-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.startTime %>"
                    type="time"
                    name="startTime"
                    autocomplete="off"
                  />
                </td>
                <td>
                  <input
                    id="todo-end-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.endTime %>"
                    type="time"
                    name="endTime"
                    autocomplete="off"
                  />
                </td>
                <% } else { %>
                  <td>
                  <input
                    id="todo-start-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.startTime %>"
                    type="time"
                    name="startTime"
                    autocomplete="off"
                    readonly
                  />
                </td>
                <td>
                  <input
                    id="todo-end-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.endTime %>"
                    type="time"
                    name="endTime"
                    autocomplete="off"
                    readonly
                  />
                </td>  
                <% } %>
              </tr>
            </table>
            <br>
            <div class="form-button-container">
              <div></div>
              <% if(date == today) { %>
              <button type="submit" class="w-btn w-btn-indigo standard-btn" id="img">Edit</button>

              <button 
                type="button" 
                class="w-btn w-btn-indigo standard-btn" 
                style="color:tomato"
                id="img" 
                onclick="location.href='/todo/remove/<%= tasks._id %>'"
              >
                Remove
              </button>

              <% } else { %>

              <button 
                type="button" 
                class="w-btn w-btn-indigo standard-btn" 
                style="color:tomato"
                id="img" 
                onclick="location.href='/todo/remove/<%= tasks._id %>'"
              >
                Remove
              </button>
              <% } %>  
              <div></div>
            </div>
            <div class="form-button-container">
              <div></div>

              <button 
                id="success-btn" 
                type="button" 
                class="w-btn w-btn-indigo standard-btn" 
                style="color:violet"
                onclick="Swal.fire('준비중인 기능입니다.')"
              >
                Success!
              </button>

              <button 
                type="button" 
                class="w-btn w-btn-indigo standard-btn" 
                onclick="location.href='/todo/'"
              >
                Back
              </button>
              <div></div>
            </div>
          </form>
          
        </div>
      </div>
      <% }}); %>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</html>
