<!DOCTYPE html>
<html>
  <head>
    <title>TODO EDIT</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/createForm.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/mainPageButton.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/header.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/table.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/style.css"
  />  
  </head>
  <body>
    <div class="edit-container">
      
      <% var date = ""; 
         var next_date = ""; 
         todoTasks.forEach(tasks => { 
           date = (tasks.date).substring(0, 10); 
           if(date != next_date){ 
             next_date = date; 
             %>
      <% } if(tasks._id == idTask) { %>
      <div class="edit-form">
        <div class="edit-form-table">
          <form class="edit-form-box" action="/todo/update/<%= tasks._id %>" method="post">
            <table>
              <tr>
                <td colspan="2">
                  <input
                    type="text"
                    value="<%= tasks.title %>"
                    name="title"
                    id="todo-title-input"
                    class="input-title"
                    autocomplete="off"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    id="todo-start-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.startTime %>"
                    type="time"
                    name="startTime"
                    autocomplete="off"
                  />
                </td>
                <td>
                  <input
                    id="todo-end-time-input"
                    class="input-time timepicker"
                    value="<%= tasks.endTime %>"
                    type="time"
                    name="endTime"
                    autocomplete="off"
                  />
                </td>  
              </tr>
            </table>

            <div class="form-button-container">
              <div></div>
              <button type="submit" class="w-btn w-btn-indigo edit-button" id="img">Edit</button>
              <button type="button" class="w-btn w-btn-indigo edit-button" style="color:tomato"id="img" onclick="location.href='/todo/remove/<%= tasks._id %>'">
                Remove
              </button>
              <div></div>
            </div>
            <div class="form-button-container">
              <div></div>
              <button type="button" class="w-btn w-btn-indigo edit-button" style="color:violet">성공!</button>
              <button type="button" class="w-btn w-btn-indigo edit-button" onclick="location.href='/todo/'">뒤로가기</button>
              <div></div>
            </div>
          </form>
          
        </div>
      </div>
      <% }}); %>
    </div>
  </body>
</html>
