<!DOCTYPE html>
<html>
  <head>
    <title>Steady Life</title>
    <link rel="stylesheet" type="text/css" href="/public/style/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/createForm.css"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/mainPageButton.css"
   />
   <link
   rel="stylesheet"
   type="text/css"
   href="/public/style/header.css"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="/public/style/table.css"
  />
  </head>
  <body>
    <header class="header">
      <h1 id="main-text">Steady Life</h1>

       <a href="auth/logout"><button class="logout-btn w-btn w-btn-indigo">Logout</button></a>
      <!-- </div> -->
    </header>
    <hr />
    <br />
    <form action="/todo/getDate" method="get">
      <input type="date" id="input-date" name="date" value="<%= currentDate %>"/>
      <button type="submit" id="input-date-btn">Click</button>
    </form>
    <p><%= user.displayName %>님 환영합니다😄</p>
  <!-- <form action="/todo/getDate" method="get"> -->
  <!-- </form> -->
    <div class="create-container">
      <div class="hidden to-do-create-container">
        <form action="/todo/write" method="post" class="form-box">
          <table class="input-table">
            <tr style="height: 50px">
              <td>Categoty</td>
              <br />
              <td colspan="3">
                <select id="todo-category-input" class="input-category" name="category">
                  <option value="" selected="selected">---선택---</option>
                  <option value="공부">공부</option>
                  <option value="독서">독서</option>
                  <option value="운동">운동</option>
                  <option value="산책">산책</option>
                  <option value="데이트">데이트</option>
                </select>
              </td>
            </tr>
            <tr style="height: 50px">
              <td>To do</td>
              <td colspan="3">
                <input
                  id="todo-title-input"
                  class="input-title"
                  type="text"
                  placeholder="ex) Web Development"
                  name="title"
                />
              </td>
            </tr>
            <tr style="height: 50px">
              <td>Time</td>
              <td>
                <input
                  id="todo-start-time-input"
                  class="input-time timepicker"
                  type="time"
                  name="startTime"
                />
              </td>
              <td>~</td>
              <td>
                <input
                  id="todo-end-time-input"
                  class="input-time timepicker"
                  type="time"
                  name="endTime"
                />
              </td>
            </tr>
          </table>
          <button id = "create-todo-btn" type="submit" class="btn">Add</button>
          <button type="button" id="form-close-button">Close</button>
        </form>
      </div>
    </div>
    <br />
    <% let date = ""; 
       let next_date = "";

       todoTasks.forEach(tasks => { 
         date = tasks.date  %>
    

    <table class="main-table">   
        
      <tr>
        <td id="table-category">
          <div class="content">
          <% 
            switch (tasks.category) {
              case "공부": %>
                <img src="public/images/category-icon/study-btn.png" alt="" />             
                <% break;
              case "운동": %>
                <img src="public/images/category-icon/exercise-btn.png" alt="" />             
             <% break;
              case "산책": %>
                <img src="public/images/category-icon/work-btn.png" alt="" />             
             <% break;
              case "독서": %>
                <img src="public/images/category-icon/reading-btn.png" alt="" />             
             <% break;
              case "데이트": %>
                <img src="public/images/category-icon/date-btn.png" alt="" />             
             <% break;
              default: 
                break;
               } %>
          </div>
        </td>
        <td>
          <%= tasks.title %>
        </td>
        <td><%= tasks.startTime %> ~ <%= tasks.endTime %></td>
        <td><%= tasks.remainingTime %></td>
        <td><button
          type="button"
          id="img"
          onclick="location.href='/todo/edit/<%= tasks._id %>'"
        >
          Edit
        </button></td>
        <td><button
          type="button"
          id="img"
          onclick="location.href='/todo/remove/<%= tasks._id %>'"
          >
          Delete
        </button></td>
      </tr>
    </table>
    <br />
    <% }); %>
    
    <footer class="main-footer">
      <div id="main-footer-contents">
        <button class="create-list-btn btn-hover">Create</button>
      </div>
    </footer>
    <script type="module" src="/public/js/index.js"></script>
  </body>
</html>
