<!DOCTYPE html>
<html>
  <head>
    <title>Steady Life</title>
    <link rel="stylesheet" type="text/css" href="/public/style/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/createForm.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/mainPageButton.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/table.css"
    />
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        onSelect: function () {
          document.getDate.submit();
        },
      });
    } );
  </script>

  </head>
  <body>
    <header class="main-header">
      <div class="header">
        <div class="start-header"></div>
        <div class="main-text-container">
        <h1 id="main-text">Steady Life </br></h1>
        </div>
        <div class="end-header">
        <a href="/auth/logout">
          <button class="logout-btn sub-header-btn">Logout</button>
        </a>
        </div>
      </div>

      <div class="sub-header">

        <div class="header-main-btn">
          <button id="todolist-button" class="sub-header-btn">
            Todo
          </button>
          <button id="memo-button" class="sub-header-btn">
            Memo
          </button>
        </div>
      </div>

      <!-- <div class="sub-header-logout-btn"> -->

      <!-- </div> -->
    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section class="container">
      <div class="create-container">
        <div class="hidden to-do-create-container">
          <form action="/todo/write" method="post" class="form-box">
            <table class="input-table">
              <tr style="height: 50px">
                <td>Categoty</td>
                <br />
                <td colspan="3">
                  <select id="todo-category-input" class="input-category" name="category">
                    <option value="" selected="selected">---선택---</option>
                    <option value="공부">공부</option>
                    <option value="독서">독서</option>
                    <option value="운동">운동</option>
                    <option value="산책">산책</option>
                    <option value="데이트">데이트</option>
                  </select>
                </td>
              </tr>
              <tr style="height: 50px">
                <td>To do</td>
                <td colspan="3">
                  <input
                    id="todo-title-input"
                    class="input-title"
                    type="text"
                    placeholder="ex) Web Development"
                    name="title"
                  />
                </td>
              </tr>
              <tr style="height: 50px">
                <td>Time</td>
                <td>
                  <input
                    id="todo-start-time-input"
                    class="input-time timepicker"
                    type="time"
                    name="startTime"
                  />
                </td>
                <td>~</td>
                <td>
                  <input
                    id="todo-end-time-input"
                    class="input-time timepicker"
                    type="time"
                    name="endTime"
                  />
                </td>
              </tr>
            </table>
            <button id = "create-todo-btn" type="submit" class="btn">Add</button>
            <button type="button" id="form-close-button">Close</button>
          </form>
        </div>
      </div>

      <div class="date-move">
        <div id="item1">
          <button id="yesterday-btn"><</button>
        </div>
        <div id="item2">
          <div class="main-page-item">
            <form action="/todo/getDate" method="get" name="getDate">
              <input type="text" id="datepicker" name="date" value="<%= currentDate %>"/>
            </form>  
          </div> 
        </div>
        <div id="item3">  
          <button id="nextday-btn">></button>
        </div>
      </div>
      <br />
      <br />
      <% let date = ""; 
        let next_date = "";
        
        todoTasks.forEach(tasks => { 
          date = tasks.date  %>
        
      <table class="main-table">   
        <tr class="table-tr" onclick="location.href='/todo/edit/<%= tasks._id %>'">
          <td id="table-category">
          <% switch (tasks.category) {
                case "공부": %>
                  <img src="https://ifh.cc/g/HXdWx3.png" alt="" />             
                  <% break;
                case "운동": %>
                  <img src="https://ifh.cc/g/NOwgCW.png" alt="" />             
              <% break;
                case "산책": %>
                  <img src="https://ifh.cc/g/0ugygb.png" alt="" />             
              <% break;
                case "독서": %>
                  <img src="https://ifh.cc/g/omXsZM.png" alt="" />             
              <% break;
                case "데이트": %>
                  <img src="https://ifh.cc/g/HXdWx3.png" alt="" />             
              <% break;
                default: 
                  break; } %>
          </td>
          <td id="table-title" class="table-title1">
            <%= tasks.title %>
          </td>
          <td id="table-time" class="table-time1"><%= tasks.startTime %> ~ <%= tasks.endTime %></td>
        
        </tr>
      </table>
      <br />
      <% }); %>

      <button id="create-btn" class="create-list-btn w-btn w-btn-indigo">Create</button>

    </section>
    <script type="module" src="/public/js/index.js"></script>
  </body>
</html>