<!DOCTYPE html>
<html>
  <head>
    <title>Steady Life</title>
    <link rel="stylesheet" type="text/css" href="/public/style/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/createForm.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/mainPageButton.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/style/table.css"
    />
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <meta name="viewport" content="height=device-height, initial-scale=0.7, minimum-scale=1.0, maximum-scale=1.0 ,user-scalable=no" />
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        onSelect: function () {
          document.getDate.submit();
        },
      });
    } );
  </script>

  </head>
  <body>
    <header class="main-header">
      <div class="header">
        <div class="start-header"></div>
        <div class="main-text-container">
        <h1 id="main-text">Steady Life </br></h1>
        </div>
        <div class="end-header">
        <a href="/auth/logout">
          <button class="logout-btn w-btn w-btn-indigo">Logout</button>
        </a>
        </div>
      </div>

      <div class="date-container">
        <div></div>
        <div class="date-move">
          <div></div>
          <div>
            <button class="change-date" id="yesterday-btn"><</button>
          </div>
          <div>
            <div class="main-page-item">
              <form action="/todo/getDate" method="get" name="getDate">
                <input type="text" id="datepicker" name="date" value="<%= currentDate %>"/>
              </form>  
            </div> 
          </div>
          <div>  
            <button class="change-date" id="nextday-btn">></button>
          </div>
          <div></div>
        </div>
        <div></div>
      </div>
    </header>
    <br>
    <div class="sub-header">

      <div class="header-main-btn">
        <button id="todolist-button" class="sub-header-btn focus">
          Todo
        </button>
        <button id="myPage-button" class="sub-header-btn">
          MyPage
        </button>
      </div>
      
    </div>
    <br>
    <section class="container">
      <div class="container-scroll">
        <div class="hidden to-do-create-container">
          <form action="/todo/write" method="post" class="form-box">
            <table class="input-table">
              <tr style="height: 50px">
                <td></td>
                <br />
                <td colspan="3">
                  <select id="todo-category-input" class="input-category" name="category">
                    <option value="Category" disabled selected="selected">Category</option>
                    <option value="공부">공부</option>
                    <option value="독서">독서</option>
                    <option value="운동">운동</option>
                    <option value="산책">산책</option>
                    <option value="데이트">데이트</option>
                    <option value="기타">기타</option>
                  </select>
                </td>
              </tr>
              <tr style="height: 50px">
                <td></td>
                <td colspan="3">
                  <input
                    id="todo-title-input"
                    class="input-title"
                    type="text"
                    placeholder="Title"
                    name="title"
                  />
                </td>
              </tr>
              <tr style="height: 50px">
                <td></td>
                <td>
                  <input
                    id="todo-start-time-input"
                    class="input-time timepicker"
                    type="time"
                    name="startTime"
                  />
                </td>
                <td>~</td>
                <td>
                  <input
                    id="todo-end-time-input"
                    class="input-time timepicker"
                    type="time"
                    name="endTime"
                  />
                </td>
              </tr>
            </table>
            <br>
            <div class="form-button-container">
              <div></div>
              <button id="create-todo-btn" type="submit" class="w-btn w-btn-indigo">Add</button>
              <button type="button" id="form-close-button" class="w-btn w-btn-indigo">Close</button>
              <div></div>
            </div>
          </form>
        </div>
      
        <% let date = ""; 
        let next_date = "";
      
        const calculateTime = (time) => {
          return time.split(':').reduce((acc, cur, idx) => {
            if (idx === 0) return acc + Number(cur * 60);
            else return acc + Number(cur);
          }, 0);
         };

         const convertMinutesToHours = (min) => {
          const hour =
            String(Math.floor(min / 60)).length === 1
              ? '0' + String(Math.floor(min / 60))
              : String(Math.floor(min / 60));
          const minutes =
            String(min % 60).length === 1 ? '0' + String(min % 60) : String(min % 60);

          return hour + ':' + minutes;
         };

        let studyTime = 0;
        let restTime = 0;

        todoTasks.forEach(ele => {
          if(ele.category === "공부" || ele.category === "독서"){
            studyTime += calculateTime(ele.remainingTime);
          } else {
            restTime += calculateTime(ele.remainingTime);
          }
        });

        todoTasks.forEach(tasks => {
          date = tasks.date  %>
        
        <table class="main-table">   
          <tr class="table-tr" onclick="location.href='/todo/edit/<%= tasks._id %>'">
            <td id="table-category">
            <% switch (tasks.category) {
                  case "공부": %>
                    📚            
                    <% break;
                  case "운동": %>  
                    💪🏻       
                <% break;
                  case "산책": %>
                    🚶🏻‍♀️           
                <% break;
                  case "독서": %>
                    📖           
                <% break;
                  case "데이트": %>
                    ❣️            
                <% break;
                  default: 
                    break; } %>
            </td>
            <td id="table-title" class="table-title">
              <%= tasks.title %>
            </td>
            <td id="table-time" class="table-time"><%= tasks.startTime %> ~ <%= tasks.endTime %></td>
          
          </tr>
        </table>
        <br />
        <% }); %>
        <div class="time-article-container hidden">
          <div class="time-article-view">
            <table id="time-article">
              <tr>
                <td>
                  ✔︎ 목표 시간 : 
                </td>
                <td>
                  8시간
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <span>✔︎ 공부 시간 : </span>
                </td>
                <td>
                  <%= Math.floor(studyTime/60) %>시간 <%= studyTime%60 %>분
                </td>
              </tr>
              
                <% if(calculateTime('08:00')-studyTime > 0) { %>
              <tr>
                <td>
                  ✔︎ 남은 시간 :
                </td>
                <td>
                  <span style="color: tomato"><%= Math.floor((calculateTime('08:00')-studyTime)/60) %>시간
                    <%= (calculateTime('08:00')-studyTime)%60 %>분</span>
                </td>
              <tr>
                <td>
                  ✔︎ 휴식 시간 :
                </td>
                <td>
                  <%= Math.floor(restTime/60) %>시간 <%= restTime%60 %>분
                </td>
              </tr>
                <% } else { %>
              <tr>
                <td>
                  ✔︎ 휴식 시간 :
                </td>
                <td>
                  <%= Math.floor(restTime/60) %>시간 <%= restTime%60 %>분
                </td>
              </tr>
                <td colspan="3" style="text-align: center;">
                  <span style="color: tomato;">🔥 Today Success 🔥</span>
                </td>
              </tr>
                <% } %>
              <tr style="height: 50px;">
                <% let str; %>
                <% if(studyTime < 480) { 
                   const turtleTime = Math.floor(studyTime / 60);
                   str = '🪵🪵🪵🪵🪵🪵🪵🪵'
                   for(let i = 0; i < turtleTime; i++) {
                    str = str.replace('🪵', '🌳');
                   };

                  } else {
                   str = '🌳🐢🌴'
                  }
                %>
                  <td colspan="2"><%= str %></td>
              </tr>
            </table>
            <br />
            <button id="time-article-close-button" class="w-btn w-btn-indigo edit-button" style="color: tomato;">Close</button>  
          </div>
        </div>

        <button id="statistics" class="w-btn w-btn-indigo">Today</button>
      </div>
      <button id="create-btn" class="create-list-btn w-btn w-btn-indigo">+</button>
    </section>


    <section>
      <br>
      <div class="mypage-container hidden">
        
    
        <p>✔︎ 추후 월별 공부량 통계 만들어서 시각화 할 예정입니다.</p>
        <p>✔︎ Todo Success시 이벤트를 고민하고 있어서 아직 미완성입니다.</p>
        <p>✔︎ 목표시간이 8시간인 이유는 정상적인 생활을 위해서예요!</p>
        <p>추후 따로 목표시간을 정할 수 있도록 하겠습니다.</p>
        <p>🔥다들 행복한 Steady Life 되세요!🔥</p>
      </div>
    </section>
    
    <script type="module" src="/public/js/index.js"></script>
  </body>
</html>